.Navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100px;
    align-content: center;
    /* justify-content: space-between; */
    background: linear-gradient(to top, #0066cc 0%, #99ccff 100%);
    padding: 5px;
}

.logo-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: flex-start;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    /* text-shadow: 3px 1px 3px #999; */
}

.logo-grid > .item-1 {
    font-size: 2.8rem;
}

.logo-grid > .item-2 {
    text-decoration: underline;
}



